src/build
src//CMakeCache.txt
src/CopyOfCMakeCache.txt
src/Makefile
src/cmake_install.cmake
src/elf2uf2/
src/generated/
src/pico-sdk/
src/pioasm/
src/CMakeFiles
src/*.pio.h
src/*.bin
src/*.dis
src/*.elf
src/*.elf.map
src/*.uf2
src/*.hex
**/core
*.pyc
**/out/**
.vs
.pydevproject
/pi/samples/afmpub
/pi/samples/gbpub
