src/dmdreader/build
src/dmdreader/CMakeCache.txt
src/dmdreader/CopyOfCMakeCache.txt
src/dmdreader/Makefile
src/dmdreader/cmake_install.cmake
src/dmdreader/elf2uf2/
src/dmdreader/generated/
src/dmdreader/pico-sdk/
src/dmdreader/pioasm/
src/dmdreader/CMakeFiles
src/dmdreader/*.pio.h
src/dmdreader/*.bin
src/dmdreader/*.dis
src/dmdreader/*.elf
src/dmdreader/*.elf.map
src/dmdreader/*.uf2
src/dmdreader/*.hex
**/core
*.pyc
**/out/**
.vs
.pydevproject
/pi/samples/afmpub
/pi/samples/gbpub
